
@{
    ViewBag.Title = "Danh sách cơ quan, tổ chức";
}
@using Tavi.Core.HtmlEx;
    <div id="formview">
        @using (Html.BeginForm())
        {
            @Html.Js("Scripts/View/coquan.js")
            @Html.Hidden("hdurl", "/BoMayToChuc/CoQuan/Index")
            @Html.Hidden("ActionName", "Index")
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Danh sách cơ quan</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Quản trị</a></li>
                                <li class="breadcrumb-item active">Cơ quan</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-5 col-5">
                                            @Html.TextBox("hdMaCoQuan", ViewBag.hdMaCoQuan as String, new { @class = "form-control", @placeholder = "Nhập mã cơ quan" })
                                        </div>
                                        <div class="col-lg-5 col-5">
                                            @Html.TextBox("hdTenCoQuan", ViewBag.hdTenCoQuan as String, new { @class = "form-control", @placeholder = "Nhập tên cơ quan" })
                                        </div>
                                        <div class="col-lg-2 col-2">
                                            @Html.Button("Tìm kiếm", "btn btn-primary", "btnTimKiem", "fa fa-search-plus")
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body table-responsive">
                                    <div id="dataGrid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div id="Create" class="btnThemMoi">
                <div class="btn_plus">
                    <div class="ctask_ttip">
                        <span class="label label-default">Thêm mới cơ quan</span>
                    </div>
                    <a>
                        <img src="/Content/Images/plusct.png" class="add_icn">
                    </a>
                </div>
            </div>
        }
    </div>
@section Scripts {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            dsCoQuan($('#MaCoQuan').val(), $('#TenCoQuan').val(), $('#Page').val());
             $('#Create').click(function () {
                window.location = '@Url.Action("ThemMoi")';
            });
        });
    </script>
}
