<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Tâm Việt</title>
    @Styles.Render("~/admin-lte/css")
    @Scripts.Render("~/admin-lte/js")
</head>
@{ 
    bool isCollapse = Session["isCollapseMenu"] != null ? Convert.ToBoolean(Session["isCollapseMenu"]) : false;
}
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed @(isCollapse ? "sidebar-collapse" : "sidebar-open")">
    <div class="wrapper">
        @Html.Partial("_MainHeader")
        @Html.Partial("_MainLeft")
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
        @Html.Partial("_MainFooter")
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>
